
#box1{
    height: 400px;
    width: 70%;
    background-color: skyblue;
    position: relative;
    left: 17%;
    top: 200px;
}
#box2{
    height: 280px;
    width: 55%;
    background-color: white;
    position: relative;
    left: 20%;
    top: 80px;
}
#box3{
    height: 40px;
    width: 70%;
position: relative;
left: 15%;
top: 35px;
}
#box4{
    height: 40px;
    width: 70%;
    position: relative;
    left: 15%;
    top: 40px;
}
#h5{
    color: skyblue;
    position: relative;
    left: 15%;
    top: 15px;
}